@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
 
<div id="gridContainer"></div>


<script>


    $(function () {
        $("#gridContainer").dxDataGrid({
            showBorders: true,
            paging: {
                enabled: false
            },
            editing: {
                mode: "form",
                allowAdding: true,
                allowUpdating: true,
                allowDeleting: true,
                confirmDelete: true
            },
            onRowUpdating: function (e) {

                var old = Object.assign({}, e.oldData);
                var prop = Object.keys(e.newData);
                $.each(prop, function (i, item) {
                    old[item] = e.newData[item];
                });
                e.cancel = true;
                $.ajax({
                    type: "POST",
                    url: "/SetupMailSMTPs/onRowUpdating",
                    async: false,
                    data: old,
                    dataType: "json",
                    success: function (response) {
                        e.cancel = false;
                    }
                });
            },
            onRowRemoving: function (e) {
                e.cancel = true;
                $.ajax({
                    type: "POST",
                    url: "/SetupMailSMTPs/onRowRemoving",
                    async: false,
                    data: {
                        SetupMailSMTP_ID: e.key.SetupMailSMTP_ID
                     },
                    dataType: "json",
                    success: function (response) {
                        e.cancel = false;
                    }
                });
            },
            onRowInserting: function (e) {
                e.cancel = true;
                 $.ajax({
                    type: "POST",
                    url: "/SetupMailSMTPs/onRowInserting",
                    async: false,
                     data: e.data,
                    dataType: "json",
                    success: function (response) {
                        e.cancel = false;
                        e.data.SetupMailSMTP_ID = response.data;
                    }
                });
            },
            showRowLines: true,
            showColumnLines: true,
            showBorders: true,
            showColumnHeaders: true,
            showBorders: true,
            allowColumnResizing: true,
            hoverStateEnabled: true,
            columnAutoWidth: true,
            noDataText: "Không tìm thấy dữ liệu",
            allowColumnReordering: true,
            rowAlternationEnabled: false,
            wordWrapEnabled: false,
            columnChooser: { enabled: false },
            columns: [
                { dataField: "SetupMailSMTP_ID", allowEditing: false },
                { dataField: "SetupMailSMTP_Email"},
                { dataField: "SetupMailSMTP_Password"},
                { dataField: "SetupMailSMTP_Host"},
                { dataField: "SetupMailSMTP_Port"},
                { dataField: "SetupMailSMTP_SSL", dataType: "boolean" },
                { dataField: "SetupMailSMTP_Header"},
                { dataField: "SetupMailSMTP_Footer"},
             ],
            paging: {
                enabled: true,
                pageSize: 20
            },
         //   height: window.innerHeight * 0.8,
            pager: {
                showPageSizeSelector: true,
                allowedPageSizes: [100, 200, 500, 1000],
                showInfo: true
            },
            paging: { pageSize: 50 },
           
            loadPanel: {
                enabled: true,
                height: 90,
                shading: true,
                showIndicator: true,
                showPane: true,
                text: "Đang load dữ liệu...",
                width: 200,
                delay: 0
            },
            filterRow: {
                visible: true,
                applyFilter: "auto"
            },
            scrolling: {
                mode: "standard",
                scrollByContent: true
            },
            headerFilter: {
                visible: true
            },
            onContentReady: function (e) {

                e.element.find(".dx-datagrid-header-panel").find(".dx-toolbar-before").html('<div style="    font-size: 24px;color:red" class="textstyle_1"><B>@ViewBag.title</B></div>');


            },
            export: {
                enabled: true,
                fileName: "Result " + document.title,
                allowExportSelectedData: true
            }
        });
        $.ajax({
            type: "POST",
            url: "/SetupMailSMTPs/getdata",
            dataType: "json",
            success: function (response) {
                var data = response.data;
                data = JSON.parse(data);
                $("#gridContainer").dxDataGrid("instance").option("dataSource", data);

            }
        });
    });

</script>