<div class="hero-box">
    <div id="fullscreen-slide-contain">
        <ul class="slides-container">
            <li><img src="~/Content/Images/bg.jpg" alt=""></li>
            <li><img src="~/Content/Images/cover.jpg" alt=""></li>
        </ul>
    </div><!-- End background slider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="hero-content pb-5 text-center">
                    <div class="section-heading">
                        <h2 class="sec__title font-size-70 pb-3">Combo trọn gói  dành cho bạn</h2>
                        <p class="sec__desc font-size-30 font-weight-medium">Trải nghiệm trọn vọn - Giá phải chẳng </p>
                    </div>
                </div><!-- end hero-content -->
                <div class="search-fields-container">
                    <div class="contact-form-action">
                        <form action="#" class="row">
                            <div class="col-lg-5 pr-0">
                                <div class="input-box">
                                    <label class="label-text">Địa điểm</label>
                                    <div class="form-group">
                                        <input class="form-control" type="text" placeholder="Bạn sắp đi đâu?">
                                    </div>
                                </div>
                            </div><!-- end col-lg-3 -->
                            <div class="col-lg-5 pr-0">
                                <div class="input-box">
                                    <label class="label-text">Ngày đi</label>
                                    <div class="form-group">
                                        <span class="la la-calendar form-icon"></span>
                                        <input class="date-range form-control" type="text" name="daterange">
                                    </div>
                                </div>
                            </div><!-- end col-lg-3 -->
                            <div class="col-lg-2 pr-0">
                                <a class="btn btn-primary col-12" style="height:100%"><i class="fa fa-2x fa-search text-white"></i></a>
                            </div><!-- end col-lg-3 -->

                        </form>

                    </div>
                </div>
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</div>

<!-- ================================
       END HERO-WRAPPER AREA
   ================================= -->
<!-- ================================
    START INFO AREA
================================= -->
<section class="info-area padding-top-80px padding-bottom-45px">
    <div class="arrow-separator"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 responsive-column">
                <div class="icon-box icon-layout-2 d-flex align-items-center">
                    <div class="info-icon flex-shrink-0 bg-rgb radius-round-full">
                        <img src="images/browser.png" class="w-50" alt="">
                    </div><!-- end info-icon-->
                    <div class="info-content">
                        <h4 class="info__title">Combo tự động, chủ động lịch trình</h4>

                    </div><!-- end info-content -->
                </div><!-- end icon-box -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column">
                <div class="icon-box icon-layout-2 d-flex align-items-center">
                    <div class="info-icon flex-shrink-0 bg-rgb-2 radius-round-full">
                        <img src="images/layout.png" class="w-50" alt="">
                    </div><!-- end info-icon-->
                    <div class="info-content">
                        <h4 class="info__title">Cập nhật liên tục xu hướng mới</h4>

                    </div><!-- end info-content -->
                </div><!-- end icon-box -->
            </div><!-- end col-lg-4 -->
            <div class="col-lg-4 responsive-column">
                <div class="icon-box icon-layout-2 d-flex align-items-center">
                    <div class="info-icon flex-shrink-0 bg-rgb-3 radius-round-full">
                        <img src="images/support.png" class="w-50" alt="">
                    </div><!-- end info-icon-->
                    <div class="info-content">
                        <h4 class="info__title">Giá vé tốt nhất cập nhật từng phút</h4>

                    </div><!-- end info-content -->
                </div><!-- end icon-box -->
            </div><!-- end col-lg-4 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end info-area -->
<!-- ================================
    END INFO AREA
================================= -->
<!-- ================================
    START TRENDING AREA
================================= -->
<section class="trending-area position-relative section-bg padding-top-100px padding-bottom-200px ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading padding-bottom-30px">
                    <h2 class="sec__title curve-shape" data-text="curvs">Bán chạy nhất tuần</h2>
                    <p>Lên đường săn tuyết với combo Sapa của AuTravel:</p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="trending-carousel carousel-action">

                    @for (int i = 0; i < 10; i++)
                    {
        <div class="card-item trending-card mb-0">
            <div class="card-img">
                <a href="tour-details.html" class="d-block">
                    <img src="~/Content/Images/FLY.jpg" alt="Destination-img">
                </a>
                <span class="badge">Bestseller</span>
            </div>
            <div class="card-body">
                <b style="color:#808080">Sapa</b>
                <h3 class="card-title mb-0"><a href="tour-details.html">Combo Sapa Charm Hotel</a></h3>
                <div class="card-rating">
                    <span class="ratings d-flex align-items-center mr-1">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </span>
                </div>
                <div class="card-price d-flex align-items-center justify-content-between">
                    <span><i class="la la-clock mr-1"></i>Trọn gói: Khách sạn + Xe khứ hồi</span>

                </div>
                <p class="giaCu">3.100.000 VNĐ</p>
                <b>790.000 đ</b>
            </div>
        </div><!-- end card-item -->}
                </div><!-- end car-carousel -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
    <svg class="hero-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 10" preserveAspectRatio="none"><path d="M0 10 0 0 A 90 59, 0, 0, 0, 100 0 L 100 10 Z"></path></svg>
</section><!-- end trending-area -->
<!-- ================================
    END TRENDING AREA
================================= -->
<!-- ================================
    START DISCOUNT AREA
================================= -->
<section class="destination-area padding-top-50px padding-bottom-70px " style="background-color:black">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h2 class="sec__title text-white">Combo dành riêng cho bạn</h2>
                    <p class="sec__desc text-white">
                        Khám phá những combo đặc biệt dưới nhé
                    </p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-8 -->

        </div><!-- end row -->

    </div><!-- end container -->
</section>

<section class="trending-area position-relative section-bg padding-top-10px padding-bottom-20px ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading padding-bottom-30px">
                    <h2 class="sec__title curve-shape" data-text="curvs">Địa điểm phổ biến</h2>
                    <p>Lên đường săn tuyết với combo Sapa của AuTravel:</p>
                </div><!-- end section-heading -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="trending-carousel carousel-action">

                    @for (int i = 0; i < 10; i++)
                    {
        <div class="card-item trending-card mb-0">
            <div class="card-img">
                <a href="tour-details.html" class="d-block">
                    <img src="~/Content/Images/FLY.jpg" alt="Destination-img">
                </a>
                <span class="badge">Bestseller</span>
            </div>
            <div class="card-body">
                <h3 class="card-title mb-0"><a href="tour-details.html">Sapa</a></h3>

                <div class="card-price d-flex align-items-center justify-content-between">
                    <span>2 combo</span>

                </div>

            </div>
        </div>}
                </div><!-- end car-carousel -->
            </div><!-- end col-lg-12 -->
        </div><!-- end row -->
    </div><!-- end container -->
</section><!-- end trending-area -->

<section class="trending-area position-relative section-bg padding-top-10px padding-bottom-20px ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading padding-bottom-30px">
                    <h2 class="sec__title curve-shape" data-text="curvs">Cẩm nang du lịch</h2>
                    <p>Lên đường săn tuyết với combo Sapa của AuTravel:</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="trending-carousel carousel-action">

                    @for (int i = 0; i < 10; i++)
                    {
        <div class="card-item trending-card mb-0">
            <div class="card-img">
                <a href="tour-details.html" class="d-block">
                    <img src="~/Content/Images/FLY.jpg" alt="Destination-img">
                </a>
                <span class="badge">Bestseller</span>
            </div>
            <div class="card-body">
                <small>Ẩm thực</small>
                <h3 class="card-title mb-0"><a href="tour-details.html">Vi vu khám phá những điểm du lịch Việt Nam ở miền Bắc</a></h3>


            </div>
        </div>}
                </div>
            </div>
        </div>
    </div>
</section>
