<div style="width:100%;display:flex;margin:10% 0">
    <div class="panel panel-default col-md-6" style="margin: 0 auto; ">
        <div class="panel-body text-center">

            <p>
                <i class="fa fa-4x fa-check-circle" aria-hidden="true"></i>
            </p>
         
            <b style="font-size:22px">Gửi yêu cầu thành công</b>
            <br />
            <br />
            <b>Cảm ơn quý khách đã sử dụng dịch vụ tại Autravel</b>
            <br />
               <br />
            <p>Chúng tôi đang đặt phòng cho quý khách và liên hệ với quý khách sớm nhất. Nếu đặt thêm <b>vé máy bay</b>, quý khách sẽ nhận được <b>nhận ưu đãi giảm giá vé</b></p>

            
            <br />
            <br />
            <p><i>Lưu ý: Nếu quý khách có nhu cầu xuất hóa đơn tài chính, xin vui lòng cung cấp thông tin trước ngày 30</i></p>
            <br />
            <a href="/" class="btn btn-lg btn-black">Quay về trang chủ</a>
        </div>
    </div>
</div>

