<H1>Tư vấn nghỉ dưỡng</H1>
<p>Nhận ngay tư vấn du lịch công ty, nhóm bạn, nhóm gia đình và voucher du lịch phù hợp nhất @DateTime.Now.Year</p>
<div class="col-md-12">
    <div class="col-md-7">
        <h3>1. Thông tin đoàn</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>Khách sạn dự định:</p>
                <input class="form-control" />
                <p>Thời gian dự kiến:</p>
                <input class="form-control" />
                <p>Số người:</p>
                <input class="form-control" />
                <p>Các yêu cầu khác:</p>
                <textarea class="form-control"></textarea>

            </div>
        </div>

        <h3>2. Thông tin liên hệ</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>Họ tên:</p>
                <input class="form-control" />
                <p>Số điện thoại:</p>
                <input class="form-control" />
                <p>Email:</p>
                <input class="form-control" />

            </div>
        </div>
        <a href="/" class="btn btn-lg btn-black pull-right">Quay về trang chủ</a>

    </div>
    <div class="col-md-5">
        <div class="panel panel-default">
            <div class="panel-body">
                <b>  Hỗ trợ online</b>
                <!-- Left-aligned media object -->
                @for (int i = 0; i < 5; i++)
                {
                    <div class="media">
                        <div class="media-left">
                            <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width:45px">
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">0911.111.111</h4>
                            <p>Ms Hoài Giang - Sale 01.</p>
                        </div>
                    </div>
                }

            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                <p>  Tổng đài</p>
               <h2><b>1900 1870</b></h2>  
                <p>7H30 - 21h20 hàng ngày</p>
            </div>
        </div>
    </div>
</div>