@using System.Data;
@model DataTable
<h2>Đánh giá nổi bật</h2>
<br />
<div class="row">
    @foreach (DataRow item in Model.Rows)
    {
        <div class="media col-md-6">
            <div class="media-left">
                <img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object" style="width: 45px;border-radius: 50%;">
            </div>
            <div class="media-body">
                <h4 class="media-heading">@item["CreateBy"]</h4>
                <p>2 tuần trước</p>
                <div style="margin:10px 0">
                    @Html.Raw(item["Content"])
                </div>

                <p><b>@item["Score"] - @item["Status"]</b></p>
            </div>
        </div>
    }
</div>
<br />
<a class="btn btn-default">Hiển thị thêm</a>
